/* Основные стили для ссылок */
.sweet-link {
    text-decoration: none;
    background-color: #000000; /* Розовый цвет */
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-size: 16px;
    margin: 5px;
    display: inline-block;
    text-align: center;
  }
  
  /* Эффект при наведении */
  .sweet-link:hover {
    background-color: #0ebb46; /* Темнее при наведении */
    transform: translateY(-5px); /* Легкое поднятие ссылки */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
  }
/*  /////////////           ////////////       /////////  */
  /* Эффект при нажатии */
  .sweet-link:active {
    transform: translateY(2px); /* Легкое опускание при нажатии */
    box-shadow: none; /* Убираем тень при нажатии */
  }
/* Стили для ссылки */
.container {
    display: flex;
    justify-content: flex-end; /* Сдвигает элемент к правому краю */
    align-items: flex-start; /* Сдвигает элемент к верхнему краю */
  }
  
  .arrow-link {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    background-color: #000000; /* Черный фон */
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  
  /* Эффект при наведении */
  .arrow-link:hover {
    background-color: #45a049; /* Более темный зеленый */
    transform: scale(1.1); /* Увеличиваем при наведении */
  }
  
  /* Эффект при нажатии */
  .arrow-link:active {
    transform: scale(1); /* Восстанавливаем размер при нажатии */
    background-color: #388e3c; /* Еще более темный зеленый */
  }

  /* Стилизация кнопки */
  button {
    background-color: #4CAF50; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    padding: 10px 20px; /* Отступы */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор в виде руки */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Плавный переход */
  }

  /* Эффект при наведении */
  button:hover {
    background-color: #45a049; /* Темно-зеленый фон при наведении */
    transform: scale(1.1); /* Увеличение кнопки */
  }

  /* Эффект при нажатии */
  button:active {
    background-color: #387e3a; /* Еще более темный зеленый при нажатии */
    transform: scale(1); /* Вернуться к обычному размеру */
  }
.kvalification{
    margin-left: 150px;
}
input{
  border: none; /* Убираем границу */
outline: none; /* Убираем контур */
background-color: #fff; /* Цвет фона */
padding: 10px; /* Отступы внутри поля */
font-size: 16px; /* Размер текста */
}     
  textarea{
  border: none; /* Убираем границу */
outline: none; /* Убираем контур */
background-color:#fff; /* Цвет фона */
padding: 10px; /* Отступы внутри поля */
font-size: 16px; /* Размер текста */
}